html, body{
    overflow-x: hidden;
}

body {
    font-family: "Glegoo", Times, serif;
    color: #373737;
    background: #028ea3;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Coda Caption", Arial, Helvetica, sans-serif;
}
h2 {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 5px;
}
p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

/* Grid */
.container{
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*    padding-left: 15px;*/
/*    padding-right: 15px;*/
    position: relative;
    width: 1440px;
}
.container:before,
.container:after {
    content: " ";
    display: table;
}
.container:after {
    clear:both;
}
.one-half, .one-third, .one-fourth {
    width: 96%;
    float: left;
    position: relative;
    min-height: 1px;
    margin: 0 2% 20px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .one-half {
        width: 46%;
    }
    .one-third {
        width: 29.33333%;
    }
    .one-fourth {
        width: 21%;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1500px) {
    .container {
        width: 1440px;
    }
}
/* Header */
header {
    color: #ffffff;
    background: #028ea3;
    background-image: url('../images/laptop.png'), linear-gradient(180deg, #028ea3 0%, #373737 90%);
    background-position: right bottom;
    background-repeat: no-repeat;
    margin: auto;
    height: 750px;
/*    width: 1440px;*/
}
header nav {
    padding: 1em 0;
}
header nav img {
    float: left;
    margin-left: 100px;
}
header nav ul {
    display: inline;
    text-align: right;
    float: right;
    margin: 0;
}
header nav ul > li {
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
}
header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #e5eaf2;
   border-radius: 4px;
 }
header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
}
header nav ul > li > a {
    color: #e5eaf2;
    text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
    color: #373737;
}
header .hero {
    text-align: center;
    display: block;
    position: relative;
/*    background-image: linear-gradient(180deg, #028ea3 0%, #373737 90%);*/
}
header .hero h1 {
    font-size: 30px;
    font-weight: normal;
    margin: 95px 0 0;
/*    float: left;*/
/*    display: block;*/
/*    position: relative;*/
}
header .hero p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
    margin: 30px 0 40px;
/*    float: left;*/
/*    clear: both;*/
/*    display: inline-block;*/
}
header .cta-1 {
    display: inline-block;
    float: left;
    clear: left;
    
}
/*header .hero-img{*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    right: 0px;*/
/*
    width: 100%;
    float: right;
*/
/*    margin-right: -134px;*/
/*    margin: 0;*/
}
header .site-logo img {
    text-align: left;
    display: block;
    float: left;  
}
.btn {
    border-radius: 4px;
    color: #373737;
    font-weight: 800;
    text-decoration: none;
    padding: 0px 30px;
    background: #87dd30;
    border: 2px solid #87dd30;
    box-shadow: 0px 2px 0px 0px #22894e;
/*    float: left;*/
    clear: both;
}
/* Benefits */
/*Can't understand why there are a few pixels of space between the hero and the first benefits section*/
.benefits {
    text-align: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
/*    display: inline-block;*/
/*    position: relative;*/
/*    width: 454px;*/
}
.benefits i {
    font-size: 60px;
    color: #028ea3;
    margin: 0;
    vertical-align: middle;
    margin-top: 75px;
}
.benefits h2 {
    color: #028ea3;
}
.benefits p {
    font-size: 18px;
    line-height: 32px;
    font-weight: 800;
}
.right {
    color: #373737;
/*    display: block;*/
/*    width: 450px;*/
/*    position: relative*/
/*    float: right;*/
/*    clear: both;*/
}
.left {
    color: #373737;
/*    display: block;*/
    width: 450px;
/*    position: relative;*/
/*    float: left;*/
/*    clear: both;*/
}
#note {
    background-image: url('../images/Create-note.png');
    background-repeat: no-repeat;
    height: 454px;
    width: 100%;
/*    padding-left: 862px;*/
    margin: 0 auto;
}
#image {
    background-image: url('../images/Save-Images.png');
    background-repeat: no-repeat;
    height: 454px;
    width: 100%;
    margin: 0 auto;
}
#link {
    background-image: url('../images/Add-Links.png');
    height: 454px;
/*    width: 1440px;*/
    margin: 0 auto;
}

.content-right {
    width: 450px;
    display: block;
    float: right;
    margin-right: 100px;
}
.content-left {
    width: 450px;
    display: block;
    float: left;
    margin-left: 100px;
}
/* Pricing */
.pricing {
    background: #028ea3 url('../images/Pricing-bkg.png') top center no-repeat;
    background: url('../images/Pricing-bkg.png') top center no-repeat, linear-gradient (206deg, #373737 0%, #028ea3 94%);
    background-size: cover;
    text-align: center;
    padding: 4em 0;
/*    width: 1440px;*/
    margin: auto;
}
.pricing h2, .pricing p {
    color: #e5eaf2;
}
.pricing ul {
    margin: 0 auto;
    padding: 2em 0;
}
.pricing ul li {
    list-style-type: none;
}
.box {
    padding: 0 15px 15px;
    background: #e5eaf2;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    min-height: 439px;
    position: relative;
    margin-top: 25px;
}
.box.middle {
    min-height: 485px;
    margin-top: 0px;
}
.box h3 {
    font-family: "Coda Caption", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    background: #f37a28;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    margin: 0 -15px 40px;
    padding: 20px 0;
}
.box h4 {
    font-size: 50px;
    margin: 40px 0 10px;
    color: #028ea3;
}
.box h4 span {
    font-size: 32px;
    vertical-align: top;
}
.box h4 span.month {
    font-family: "Glegoo", Times, serif;
    font-weight: 700;
    color: #373737;
    font-size: 20px;
    vertical-align: middle;
}
.box ul li {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 400px;
}
.box .btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}
.small {
    font-size: 12px;
    line-height: 15px;
    font-style: italic;
}
.testimonials {
    padding: 4em 0;
    text-align: center;
    background: #fff;
/*    width: 1440px;*/
    margin: auto;
}
.testimonials h2 {
    color: #373737;
}
.testimonials ul li {
    list-style-type: none;
}
.up {
    margin-top: 30px;
}
.testimonials blockquote {
    color: #e5eaf2;
    text-align: left;
    font-style: italic;
    background: #028ea3;
    position: relative;
    padding: 30px;
    width: auto;
    margin: 0;
}
.testimonials ul li:before {
    content: '\201C';
    font-family: "Coda Caption", sans-serif;
    font-weight: 800;
    font-size: 80px;
    position: absolute;
    left: 10%;
    top: -1%;
    z-index: 1;
    color: rgba(255,255,255,0.3);
}
.testimonials blockquote:after {
    top: 100%;
    left: 13%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #028ea3;
    border-width: 10px;
    margin-left: -10px;
}
.testimonials img {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    float: left;
    display: inline-block;
    margin: 20px 10px 0 0;
}

.testimonials p.name {
    float: left;
    display:inline-block;
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
    line-height: 16px;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    display: block;
    clear: both;
}
/*Footer*/
footer {
    background-color: #028ea3;
    background-image: linear-gradient(to top, #373737 50%, #028ea3 50%);
    color: #fff;
    height: 150px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    width: 100%;
    margin: auto;
}

footer p, footer nav ul {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 10px 0;
/*This isn't what I think it should be but it halfway works*/
/*    margin-left: -200px;*/
}
/*
footer p {
    margin-left: -200px;
}
*/
footer nav ul li {
    list-style-type: none;
    display: inline;
}
footer nav ul li a {
    color: #fff;
    text-decoration: none;
/*    text-align: center;*/
}
footer .right-footer-block {
/*    background-color: transparent;*/
}
footer .logo {
    padding: 1.3em 0;
    margin-left: 100px;
    display: block;
}
@media (min-width: 991px) {
    footer {
        background-color: #028ea3;
        background-image: linear-gradient(to bottom,#028ea3 0%,#373737 90%)
    }
}
/*Dashboard*/
.dashboard {
    background: #f7f7f7;
}
.left-nav {
    height: 100vh;
    width: 14.6666666667%;
    color: #fff;
    background: #373737;
/*    background-image: linear-gradient(206deg, #028ea3 0%, #373737 94%);*/
    float: left;
    position: fixed;
    display: block;
}
.left-nav .site-logo {
    padding: 20px 0;
    background: #373737;
    display: block;
    text-align: center;
}
.left-nav .items {
    padding: 0 6%;
}
.left-nav .items p {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
}
.left-nav .items ul {
    margin: 0 0 40px;
    padding: 0;
}
.left-nav .items ul li {
    list-style-type: none;
    margin-bottom: 15px;
}
.left-nav .items ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 100;
}
.left-nav .items ul li a i {
    width: 16px;
    text-align: center;
    margin-right: 8px;
}
.left-nav .items ul li.active {
    background-color: palegreen;
}
/*Left Navbar Settings*/
.left-nav .settings {
    position: absolute;
    background: #22303e;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
}
.left-nav .settings img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
}
.left-nav .settings p {
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
    font-weight: 800;
    margin: 0 0 0 10px;
}
.left-nav .settings a {
    color: #fff;
    text-decoration: none;
    text-align: right;
    float: right;
    margin-right: 10px;
    margin-top: 8px;
}
/*Content*/
.content {
    padding: 6em 1% 1.5em;
    float: right;
    width: 98%;
    position: relative;
}
.content .header {
    margin: 0 1% 20px;
}
.content .header h1 {
    font-family: "Coda Caption", Helvetica, Arial, sans-serif;
    margin: 0 0 30px;
    font-size: 36px;
    color: #028ea3;
    line-height: 44px;
    float: left;
    display: inline-block;
}
.content .header > a {
    float: right;
}
.content-item {
    width: 96%;
    margin: 0 2% 25px;
    float: left;
    display: block;
}
.item-box {
    display: block;
    height: 230px;
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
    position: relative;
    overflow: hidden;
    padding: 20px;
}
/*Larger Mobile Devices*/
@media (min-width:460px) {
    .content {
        padding: 1.5em 1%;
        float: right;
        width: 90%;
        position: relative;
    }
    .content-item {
        width: 46%;
        margin: 0 2% 25px;
        float: left;
        display: block;
    }
}
/*Tablets*/
@media (min-width: 768px) {
    .content {
        padding: 1.5em 5%;
        float: right;
        width: 90%;
        position: relative;
    }
    .content > .container {
        width: 700px;
    }
    .content-item {
        width: 31.33333%;
        margin: 0 1% 25px;
    }
}
/*Laptops and Desktops*/
@media (min-width: 992px) {
    .content {
        padding: 1.5em 1%;
        float: right;
        width: 83.3333333%;
        position: relative;
    }
    .content > .container {
        width: auto;
    }
    .content-item {
        width: 23%;
        margin: 0 1% 25px;
    }
}
.item-box > img {
    position: absolute;
    height: 100%;
    width: auto;
    top:0;
    left:0;
    right:0;
}
.item-box h2 {
    font-family: 'Glegoo', Verdana, serif;
    font-weight: 800;
    font-size: 15px;
    line-height: 17px;
    margin: 0;
}
.item-box h2 a {
    color: #028ea3;
    text-decoration: none;
}
.item-box h2 img {
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.item-box p {
    font-size: 14px;
    color: #373737;
    line-height: 18px;
    margin: 5px 0 0;
}
